<mat-card>
    <mat-card-title>Mapas</mat-card-title>
    <agm-map
        (mapClick) = "addMarker( $event )"
        [latitude]="lat"
        [longitude]="lng">
        <agm-marker
            *ngFor="let marker of markers; let idx = index"
            [latitude]="marker.lat"
            [longitude]="marker.lng">
            <agm-info-window>
                <strong>{{ marker.title }}</strong>
                <p>{{ marker.desc }}</p>
                <div>
                    <button (click)="editMarker(marker)" mat-raised-button color="primary">Editar</button>
                    <button (click)="delMarker(idx)" mat-raised-button color="warn">Borrar</button>
                </div>
            </agm-info-window>
        </agm-marker>
      </agm-map>
</mat-card>
